<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="height: 100%; margin: 0;">
<div id="rr" style="height: 100%"></div>
<script type="text/javascript" src="/static/js/echarts.min.js"></script>
<script type="text/javascript">
    var qq = echarts.init(document.getElementById("rr"))
    qq.setOption({
        xAxis:{
            type:'category',
            data:
                {% autoescape false %}
                {{ keyset }}
                {% endautoescape %}
        },
        yAxis:{
            type:'value'
    },
        series:[{
            type:'bar',
            data:
                {% autoescape false %}
                {{ values }}
                {% endautoescape %}
        }]

    });
</script>

</body>
</html>