<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="height:100%;margin: 0">
    <div id="qq" style="height: 100%"></div>
    <script type="javascript" src="/static/js/echarts.min.js"></script>
    <script type="javascript">
        var myeChart = echarts.init(document.getElementById(qq))
        myeChart.setOption({
            xAxis: {
                type: 'category',

                data:

            },
            yAxis: {
                type: 'value'
            },
            series: [{

                data:

                type: 'bar'
           }]
        });
    </script>
</body>
</html>